{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="row">
    <div class="col">
        <div class="h-100 p-5 border rounded-3">
            <h1 class="display-7">Events</h1>
            <p class="lead">The places where GET flows</p>
            <p>
                Tickets are used at different events. A plane flight, a cabaret show, a festival. This page is displaying the different events for which <b class=getcolor>GET</b> is used and their statistics. However, it doesn’t show the name of the events. This is caused by the circumstance that the <b class=getcolor>GET</b> foundation isn’t publishing event names publicly (yet). Publishing event names on the blockchain, would spoil the announcements which is done by event organizer. With some dedication, you will be able to link an event name to the appropriate event. </p>
            <div class="card-body fixmidsize">
                {{ last30daysperiodnames|json_script:"last30daysperiodnames"}}
                {{ last30daysvalues|json_script:"last30daysvalues"}}
                <canvas id="chart_last30daysevents"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <table class="table table-hover border">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Tickets sold</th>
                    <th scope="col">Date</th>
                    <th scope="col">Ticketeer</th>
                </tr>
            <tbody>
                {% for event in events30days %}
                <tr>
                    <th scope="row">{{ event.eventname }}</th>
                    <td>{{ event.nfts }}</td>
                    <td>{{ event.date }}</td>
                    <td>{{ event.ticketeer }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </thead>
        </table>
    </div>
</div>
<script src="{% static 'js/graphs/events.js' %}"></script>
{% endblock %}