{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col">
        <div class="h-100 p-5 border rounded-3">
            <h1 class="display-7">Events</h1>
            <p class="lead">The places where GET flows</p>
            <p>
                Tickets are used at different events. A plane flight, a cabaret show, a festival. This page is displaying the different events for which <b class=getcolor>GET</b> is used and their statistics. However, it doesn’t show the name of the events. This is caused by the circumstance that the <b class=getcolor>GET</b> foundation isn’t publishing event names publicly (yet). Publishing event names on the blockchain, would spoil the announcements which is done by event organizer. With some dedication, you will be able to link an event name to the appropriate event. </p>
            <div class="card-body fixmidsize">
                <canvas id="chart_last30daysevents"></canvas>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block additionalscripts %}
{% include 'NFTInfo/events_graph.html' %}
{% endblock %}