{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://d3js.org/d3.v4.js"></script>
<div class="row">
    <div class="col">
        {{ eventswordcloudlist |json_script:"eventswordcloudlist"}}
        <canvas id="wordcloud_30dayseventsv2", class=canvas, width="1000", height="250">
    </div>
    <script src="{% static 'js/wordcloud/wordcloud.js' %}"></script>
</div>
<script>
    var canvas = document.getElementById('wordcloud_30dayseventsv2');
    canvas.width = canvas.parentElement.clientWidth;
    canvas.height = screen.height / 3;

    var myWords = JSON.parse(document.getElementById('eventswordcloudlist').textContent);
    var options2 = {
        list: myWords,
        fontFamily: 'Times, serif',
        weightFactor: 6,
        color: '#01C696',
        backgroundColor: 'black',
        drawOutOfBound: false,
        gridSize: 32,
        shrinkToFit: true,
        minSize: 3
    };
    WordCloud(document.getElementById('wordcloud_30dayseventsv2'), options2);
</script>
<div class="row">
    <div class="col">
        <div class="h-100 p-5 border rounded-3">
            <h1 class="display-7">Events</h1>
            <p class="lead">The places where GET flows</p>
            <p>
                Tickets are used at a lot of different kind of events. Think about your regular life and the events where tickets are used: Plane flights, cabaret shows, festivals, parking garages, public transport, museums. This page is displaying the different events for which <b class=getcolor>GET</b> is used and the number of tickets which are sold for each of these events. This will give you an idea of the adoption of the <b class=getcolor>GET Protocol</b>. </p>
            <div class="card-body fixmidsize">
                {{ last30daysperiodnames|json_script:"last30daysperiodnames"}}
                {{ last30daysvalues|json_script:"last30daysvalues"}}
                <canvas id="chart_last30daysevents"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <h1 class=center>Events finding place in the upcoming 30 days</h1>
        <table class="table table-hover border">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Tickets sold</th>
                    <th scope="col">Date</th>
                    <th scope="col">Ticketeer</th>
                </tr>
            <tbody>
                {% for event in events30days %}
                <tr>
                    <th scope="row">{{ event.eventname }}</th>
                    <td>{{ event.nfts }}</td>
                    <td>{{ event.date }}</td>
                    <td>{{ event.ticketeer }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </thead>
        </table>
    </div>
</div>
<script src="{% static 'js/graphs/events.js' %}"></script>
{% endblock %}