{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
<div class="row align-items-center">
    <div class="col-lg-4">
        <div class="h-100 p-5 border rounded-3">

                <h1 class="display-4">Hello, GET folks!</h1>
                <p class="lead">
                    This webpage contains information gathered from different sources. In different charts and tables the actual usage of the GET protocol is showcased.
                </p>
                <hr class="my-4">
                <p>
                    Where a lot of projects which were launched during the blockchain hype of 2017 didn't came a lot further than releasing a whitepaper, which described a solution for a problem which didn't even exist, the GET Protocol foundation differentiate itself. The proof is visualised on this site.
                </p>

                <a class="btn btn-primary btn-lg" href="url 'page_interactions'" role="button">Show me the proof.</a>
            </div>
    </div>

    <div class="col">
        <div class="col align-items-center">
            <div class="card graph">
                <div class="row no-gutters align-items-center">
                    <div class="col-md-4">
                        <div align="center">
                            <img src="{% static 'images/sale.png' %}" class="card-img-middle round cardmid" alt="sale">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body center">
                            <h5 class="card-title">Tickets/Upsell items sold today</h5>
                            <h1 class=getcolor>{{ticketssoldlast24h}}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col align-items-center">
            <div class=" card graph">
                <div class="row no-gutters align-items-center">
                    <div class="col-md-4">
                        <div align="center">
                            <img src="{% static 'images/scanner.png' %}" class="card-img-middle round cardmid" alt="scanner">
                        </div>
                    </div>
                    <div class="col-md-8 ">
                        <div class="card-body center">
                            <h5 class="card-title">Tickets/Upsell items scanned today </h5>
                            <h1 class=getcolor>{{ticketsscannedlast24h}}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col align-items-center">
            <div class="card graph">
                <div class="row no-gutters align-items-center">
                    <div class="col-md-4">
                        <div align="center">
                            <img src="{% static 'images/money.png' %}" class="card-img-middle round cardmid" alt="money">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body center">
                            <h5 class="card-title">The current average GET price</h5>
                            <h1 class=getcolor>€{{geteurprice}}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col align-items-center">
            <div class="card graph">
                <div class="row no-gutters align-items-center">
                    <div class="col-md-4">
                        <div align="center">
                            <img src="{% static 'images/events.png' %}" class="card-img-middle round cardmid" alt="events">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body center">
                            <h5 class="card-title">Amount of events using GET today</h5>
                            <h1 class=getcolor>{{eventsactivelast24h}}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}